<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>507374813</real>
		<key>sheetClusters</key>
		<dict>
			<key>2014-11-08-okinawa travel.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-11-15-okinawa travel customize.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-01-30-singapol day1 guide.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-02-12-okinawa day1 guide.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-02-13-okinawa day2 guide.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-02-13-okinawa day3 guide.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-02-13-okinawa day4 guide.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-02-13-okinawa day5 guide.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2017-01-20-hongkong day1 guide.md</key>
			<dict>
				<key>lastModification</key>
				<real>507426025.30540299</real>
				<key>version</key>
				<dict>
					<key>2d59544d7ab29cdfaa986f3e518c073456385a409b1c3d4948db814cc0241f96</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2014-11-08-okinawa travel.md</string>
		</array>
		<array>
			<string>2014-11-15-okinawa travel customize.md</string>
		</array>
		<array>
			<string>2015-02-12-okinawa day1 guide.md</string>
		</array>
		<array>
			<string>2017-01-20-hongkong day1 guide.md</string>
		</array>
		<array>
			<string>2015-02-13-okinawa day2 guide.md</string>
		</array>
		<array>
			<string>2015-02-13-okinawa day3 guide.md</string>
		</array>
		<array>
			<string>2015-02-13-okinawa day4 guide.md</string>
		</array>
		<array>
			<string>2015-02-13-okinawa day5 guide.md</string>
		</array>
		<array>
			<string>2015-01-30-singapol day1 guide.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>2d59544d7ab29cdfaa986f3e518c073456385a409b1c3d4948db814cc0241f96</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>2d59544d7ab29cdfaa986f3e518c073456385a409b1c3d4948db814cc0241f96</key>
			<integer>5</integer>
		</dict>
	</dict>
</dict>
</plist>
