<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2014-09-19-Mac Env Setting.md</string>
		</array>
		<array>
			<string>2014-09-29-Trouble shotting(Fixing Actor crashed).md</string>
		</array>
		<array>
			<string>2014-10-01-jekyll bootstrap comments system.md</string>
		</array>
		<array>
			<string>2014-10-01-jekyll bootstrap image css customize.md</string>
		</array>
		<array>
			<string>2014-10-06-Jekyll blog.md</string>
		</array>
		<array>
			<string>2014-10-16-modify css of my blog.md</string>
		</array>
		<array>
			<string>2014-11-12-jekyll vs open graph.md</string>
		</array>
	</array>
</dict>
</plist>
