<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2014-09-23-Xamarin Guide.md</string>
		</array>
		<array>
			<string>2014-10-15-TecgDays 2014 Xamarin Develop.md</string>
		</array>
		<array>
			<string>2015-03-18-xamarin with vs2015 shared project to cross platform app.md</string>
		</array>
		<array>
			<string>2015-03-19-xamarin mvvmcross.md</string>
		</array>
		<array>
			<string>2015-03-20-xamarin camera app.md</string>
		</array>
		<array>
			<string>2015-03-20-xamarin trouble.md</string>
		</array>
		<array>
			<string>2015-03-23-xamarin metadata filter.md</string>
		</array>
		<array>
			<string>2015-03-23-xamarin nfc.md</string>
		</array>
		<array>
			<string>2015-03-23-xamarin_using java.md</string>
		</array>
		<array>
			<string>2015-03-24-xamarin trouble shotting.md</string>
		</array>
		<array>
			<string>2015-03-26-xamarin_tutorial.md</string>
		</array>
		<array>
			<string>2015-03-31-xamarin_layout.md</string>
		</array>
		<array>
			<string>2015-04-01-xamarin script.md</string>
		</array>
		<array>
			<string>2015-04-01-xamarin.android_class annotation with menifest.md</string>
		</array>
		<array>
			<string>2015-04-11-mvvmcross and sqlite.md</string>
		</array>
		<array>
			<string>2015-05-14-gesture control.md</string>
		</array>
		<array>
			<string>2015-05-14-xamarin_android_course.md</string>
		</array>
		<array>
			<string>2015-05-15-xamarin_android_course.md</string>
		</array>
		<array>
			<string>如何為mvvmcross建立unittest?.md</string>
		</array>
	</array>
</dict>
</plist>
