<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2014-09-23-Install Genymotion.md</string>
		</array>
		<array>
			<string>2014-09-23-fixing no_system_images_installed_for_this_target.md</string>
		</array>
		<array>
			<string>2014-09-29-trouble shotting(Fix escape character problem).md</string>
		</array>
		<array>
			<string>2014-09-29-Developer Guide Links.md</string>
		</array>
		<array>
			<string>2014-09-30-Android Unit explain.md</string>
		</array>
		<array>
			<string>2014-09-30-Android Layout.md</string>
		</array>
	</array>
</dict>
</plist>
