<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>jekyll</string>
		<string>mdtool</string>
		<string>balsamiq</string>
		<string>bitbucket</string>
		<string>office</string>
		<string>qrcode</string>
		<string>crack</string>
		<string>gradle</string>
		<string>javascript</string>
		<string>mac</string>
		<string>network</string>
		<string>sway</string>
		<string>uml</string>
		<string>untitled folder</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
