<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2014-11-12-company_culture_reporting.md</string>
		</array>
		<array>
			<string>2014-11-14-embedded product.md</string>
		</array>
		<array>
			<string>2015-03-02-company productability.md</string>
		</array>
		<array>
			<string>2015-03-19-kai fu lee talk.md</string>
		</array>
		<array>
			<string>2015-03-26-7 step to crash project.md</string>
		</array>
	</array>
</dict>
</plist>
