<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>507374813</real>
		<key>sheetClusters</key>
		<dict>
			<key>2014-10-20-hinet mms radio list.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-10-28-buy vegitable.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-10-30-Update_Share My Flickr Favorite Photos.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-10-31-Update_Share My Flickr Favorite Photos.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-11-03-toogl introduction.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-11-13-kp at.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-11-27-Update_Share My Flickr Favorite Photos.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-12-30-ccproxy.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-12-30-github proxy.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-01-11-convert audio.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-01-21-smart city summit expo.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-02-04-ios to DFU.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-02-14-Update_Share My Flickr Favorite Photos.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-04-17-clean play history.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-05-07-lean and kanban.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-05-13-iot.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-05-20-design thinking.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-05-28-usage pulltorefresharp.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-05-29-report of hicloud.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-07-08-action behavior chap1.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-07-08-action behavior chap2.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-07-14-action behavior chap3.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-07-14-action behavior chap4.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-07-22-action behavior chap5.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-07-22-action behavior chap6.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-07-29-tainan vacation Day1.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-09-03-font testing.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-11-26-how netflix use analytics.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-11-26-how netflix use bigdata.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-04-about cht payment.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-08-think_mobile_with_google_in_360_degree.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-10-why_prototype.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-11-dont be research robot.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-12-dont be a user research robot.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-15-design trend.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-15-jumpstarting your app without sketching.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-23-coffee script.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-23-framer object setting.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-23-framer_animation.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-23-import mockup.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-25-framer tips.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-26-framer events.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-28-3 Problems Killing UX Design in the Enterprise And How to Fix Them.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-29-agile ux.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-30-framer components.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-30-framer custom device.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-30-framer states.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-2-14-Update_Share My Flickr Favorite Photos.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507375647.149831</real>
				<key>lastModification</key>
				<real>507375647.149831</real>
				<key>version</key>
				<dict>
					<key>2d59544d7ab29cdfaa986f3e518c073456385a409b1c3d4948db814cc0241f96</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-05-framer conclusion.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-01-05-framer module.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-02-15-framer_animation tip.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-04-06-framer tip of child layer access.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-04-06-framer tip to find child.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-04-13-HACKATHON CHT.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-04-13-hackathon.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-04-28-mooncup.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-04-29-fans.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-04-30-user central design and prototyping.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-05-02-be_careful_about_these_6_web_design_trends_in_2016.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-05-03-conducting_an_effective_stakeholder_interview.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-05-13-ux.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>report of hicloud.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507375647.14984399</real>
				<key>lastModification</key>
				<real>507375647.14984399</real>
				<key>version</key>
				<dict>
					<key>2d59544d7ab29cdfaa986f3e518c073456385a409b1c3d4948db814cc0241f96</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>下町火箭.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>演藝圈狗腿.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>若是設定mysql的密碼後，會造成xampp的管理平台近不去.md</key>
			<dict>
				<key>lastModification</key>
				<real>507374813</real>
				<key>version</key>
				<dict>
					<key>legacy-507374813.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2014-10-20-hinet mms radio list.md</string>
		</array>
		<array>
			<string>2014-11-13-kp at.md</string>
		</array>
		<array>
			<string>2014-10-28-buy vegitable.md</string>
		</array>
		<array>
			<string>2014-10-30-Update_Share My Flickr Favorite Photos.md</string>
		</array>
		<array>
			<string>2014-10-31-Update_Share My Flickr Favorite Photos.md</string>
		</array>
		<array>
			<string>2014-11-03-toogl introduction.md</string>
		</array>
		<array>
			<string>2014-11-27-Update_Share My Flickr Favorite Photos.md</string>
		</array>
		<array>
			<string>2014-12-30-ccproxy.md</string>
		</array>
		<array>
			<string>2014-12-30-github proxy.md</string>
		</array>
		<array>
			<string>2015-01-11-convert audio.md</string>
		</array>
		<array>
			<string>2015-01-21-smart city summit expo.md</string>
		</array>
		<array>
			<string>2015-02-04-ios to DFU.md</string>
		</array>
		<array>
			<string>2015-2-14-Update_Share My Flickr Favorite Photos.md</string>
		</array>
		<array>
			<string>2015-02-14-Update_Share My Flickr Favorite Photos.md</string>
		</array>
		<array>
			<string>2015-04-17-clean play history.md</string>
		</array>
		<array>
			<string>2015-05-07-lean and kanban.md</string>
		</array>
		<array>
			<string>2015-05-13-iot.md</string>
		</array>
		<array>
			<string>report of hicloud.md</string>
		</array>
		<array>
			<string>演藝圈狗腿.md</string>
		</array>
		<array>
			<string>2015-05-20-design thinking.md</string>
		</array>
		<array>
			<string>2015-05-28-usage pulltorefresharp.md</string>
		</array>
		<array>
			<string>2015-05-29-report of hicloud.md</string>
		</array>
		<array>
			<string>2015-07-08-action behavior chap1.md</string>
		</array>
		<array>
			<string>2015-07-08-action behavior chap2.md</string>
		</array>
		<array>
			<string>2015-07-14-action behavior chap3.md</string>
		</array>
		<array>
			<string>2015-07-14-action behavior chap4.md</string>
		</array>
		<array>
			<string>2015-07-22-action behavior chap5.md</string>
		</array>
		<array>
			<string>2015-07-22-action behavior chap6.md</string>
		</array>
		<array>
			<string>2015-07-29-tainan vacation Day1.md</string>
		</array>
		<array>
			<string>2015-09-03-font testing.md</string>
		</array>
		<array>
			<string>2015-11-26-how netflix use analytics.md</string>
		</array>
		<array>
			<string>2015-11-26-how netflix use bigdata.md</string>
		</array>
		<array>
			<string>2015-12-04-about cht payment.md</string>
		</array>
		<array>
			<string>2015-12-08-think_mobile_with_google_in_360_degree.md</string>
		</array>
		<array>
			<string>2015-12-10-why_prototype.md</string>
		</array>
		<array>
			<string>2015-12-11-dont be research robot.md</string>
		</array>
		<array>
			<string>2015-12-12-dont be a user research robot.md</string>
		</array>
		<array>
			<string>2015-12-15-design trend.md</string>
		</array>
		<array>
			<string>2015-12-15-jumpstarting your app without sketching.md</string>
		</array>
		<array>
			<string>2015-12-23-coffee script.md</string>
		</array>
		<array>
			<string>2015-12-23-framer object setting.md</string>
		</array>
		<array>
			<string>2015-12-23-framer_animation.md</string>
		</array>
		<array>
			<string>2015-12-23-import mockup.md</string>
		</array>
		<array>
			<string>2015-12-25-framer tips.md</string>
		</array>
		<array>
			<string>2015-12-26-framer events.md</string>
		</array>
		<array>
			<string>2015-12-28-3 Problems Killing UX Design in the Enterprise And How to Fix Them.md</string>
		</array>
		<array>
			<string>2015-12-29-agile ux.md</string>
		</array>
		<array>
			<string>2015-12-30-framer components.md</string>
		</array>
		<array>
			<string>2015-12-30-framer custom device.md</string>
		</array>
		<array>
			<string>2015-12-30-framer states.md</string>
		</array>
		<array>
			<string>2016-01-05-framer conclusion.md</string>
		</array>
		<array>
			<string>2016-01-05-framer module.md</string>
		</array>
		<array>
			<string>2016-02-15-framer_animation tip.md</string>
		</array>
		<array>
			<string>2016-04-06-framer tip of child layer access.md</string>
		</array>
		<array>
			<string>2016-04-06-framer tip to find child.md</string>
		</array>
		<array>
			<string>2016-04-13-HACKATHON CHT.md</string>
		</array>
		<array>
			<string>2016-04-13-hackathon.md</string>
		</array>
		<array>
			<string>2016-04-28-mooncup.md</string>
		</array>
		<array>
			<string>2016-04-29-fans.md</string>
		</array>
		<array>
			<string>2016-04-30-user central design and prototyping.md</string>
		</array>
		<array>
			<string>2016-05-02-be_careful_about_these_6_web_design_trends_in_2016.md</string>
		</array>
		<array>
			<string>2016-05-03-conducting_an_effective_stakeholder_interview.md</string>
		</array>
		<array>
			<string>2016-05-13-ux.md</string>
		</array>
		<array>
			<string>下町火箭.md</string>
		</array>
		<array>
			<string>若是設定mysql的密碼後，會造成xampp的管理平台近不去.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>2d59544d7ab29cdfaa986f3e518c073456385a409b1c3d4948db814cc0241f96</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>2d59544d7ab29cdfaa986f3e518c073456385a409b1c3d4948db814cc0241f96</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
