<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2014-10-20-hinet mms radio list.md</string>
		</array>
		<array>
			<string>2014-11-13-kp at.md</string>
		</array>
		<array>
			<string>2014-10-28-buy vegitable.md</string>
		</array>
		<array>
			<string>2014-10-30-Update_Share My Flickr Favorite Photos.md</string>
		</array>
		<array>
			<string>2014-10-31-Update_Share My Flickr Favorite Photos.md</string>
		</array>
		<array>
			<string>2014-11-03-toogl introduction.md</string>
		</array>
		<array>
			<string>2014-11-27-Update_Share My Flickr Favorite Photos.md</string>
		</array>
		<array>
			<string>2014-12-30-ccproxy.md</string>
		</array>
		<array>
			<string>2014-12-30-github proxy.md</string>
		</array>
		<array>
			<string>2015-01-11-convert audio.md</string>
		</array>
		<array>
			<string>2015-01-21-smart city summit expo.md</string>
		</array>
		<array>
			<string>2015-02-04-ios to DFU.md</string>
		</array>
		<array>
			<string>2015-2-14-Update_Share My Flickr Favorite Photos.md</string>
		</array>
		<array>
			<string>2015-02-14-Update_Share My Flickr Favorite Photos.md</string>
		</array>
		<array>
			<string>2015-04-17-clean play history.md</string>
		</array>
		<array>
			<string>2015-05-07-lean and kanban.md</string>
		</array>
		<array>
			<string>2015-05-13-iot.md</string>
		</array>
		<array>
			<string>report of hicloud.md</string>
		</array>
		<array>
			<string>演藝圈狗腿.md</string>
		</array>
		<array>
			<string>2015-05-20-design thinking.md</string>
		</array>
		<array>
			<string>2015-05-28-usage pulltorefresharp.md</string>
		</array>
		<array>
			<string>2015-05-29-report of hicloud.md</string>
		</array>
		<array>
			<string>2015-07-08-action behavior chap1.md</string>
		</array>
		<array>
			<string>2015-07-08-action behavior chap2.md</string>
		</array>
		<array>
			<string>2015-07-14-action behavior chap3.md</string>
		</array>
		<array>
			<string>2015-07-14-action behavior chap4.md</string>
		</array>
		<array>
			<string>2015-07-22-action behavior chap5.md</string>
		</array>
		<array>
			<string>2015-07-22-action behavior chap6.md</string>
		</array>
	</array>
</dict>
</plist>
