<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>rwd</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-05-24-design metrics.md</string>
		</array>
		<array>
			<string>2016-06-28-research in product.md</string>
		</array>
		<array>
			<string>2016-10-05-design thinking.md</string>
		</array>
		<array>
			<string>2016-11-10-Clear Indications That It’s Time To Redesign.md</string>
		</array>
		<array>
			<string>apple guideline.md</string>
		</array>
	</array>
</dict>
</plist>
