<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>screenshot_flickr_uploader</string>
		<string>xamarin</string>
		<string>android</string>
		<string>dropbox</string>
		<string>googlechrome</string>
		<string>companyculture</string>
		<string>star_thermal_printer</string>
		<string>safari extension</string>
		<string>asp.net mvc</string>
		<string>azure</string>
		<string>crack</string>
		<string>mwc2014</string>
		<string>pos</string>
		<string>uml</string>
		<string>axure</string>
		<string>amazon</string>
		<string>mongo</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
