<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2014-10-15-how to fix plugin.md</string>
		</array>
		<array>
			<string>2014-10-16-how to customize your flickr chrome tab.md</string>
		</array>
		<array>
			<string>2014-10-24-load background seq.md</string>
		</array>
		<array>
			<string>2014-10-27-chrome command trigger.md</string>
		</array>
		<array>
			<string>2014-10-28-chrome extension resource.md</string>
		</array>
		<array>
			<string>2014-11-12-clear chrome storage.md</string>
		</array>
	</array>
</dict>
</plist>
